<div class="post-share-container border-box">
  <ul class="share-list-wrap border-box">
      <li class="x share-item border-box flex-center tooltip"
          data-tooltip-content="<%= __('Share To X') %>"
      >
          <i class="fa-brands fa-x-twitter"></i>
      </li>
  </ul>
</div>
