<div class="post-share-container border-box">
  <ul class="share-list-wrap border-box">
    <li class="bluesky share-item border-box flex-center tooltip" data-tooltip-content="<%= __('Share To Bluesky') %>">
      <i class="fa-brands fa-bluesky"></i>
    </li>
    <li class="x share-item border-box flex-center tooltip" data-tooltip-content="<%= __('Share To X') %>">
      <i class="fa-brands fa-x-twitter"></i>
    </li>
    <li class="reddit share-item border-box flex-center tooltip" data-tooltip-content="<%= __('Share To Reddit') %>">
      <i class="fa-brands fa-reddit-alien"></i>
    </li>
    <li class="pinterest share-item border-box flex-center tooltip" data-tooltip-content="<%= __('Share To Pinterest') %>">
      <i class="fa-brands fa-pinterest-p"></i>
    </li>
  </ul>
</div>
